<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'flexslider.css' | asset_url | stylesheet_tag }}
  {{ 'custom-styles.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}
  
  <!-- Google Fonts ================================================== -->
  <link href='https://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'instafeed.min.js' | asset_url | script_tag }}
  {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {% endcomment %}
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div id="PageContainer" class="is-moved-by-drawer">
    <header class="site-header" role="banner">
      <div class="wrapper">
        <div class="grid">
          <div class="grid__item large--one-twelfth medium-down--hide"></div>
          <div class="grid__item large--five-twelfths medium-down--hide">
            <a href="https://www.etsy.com/shop/jdeluce" target="_blank"><img class="top-absolute-pos" src="{{ 'etsy.png' | asset_url }}"></a>
          </div>
          <div class="header-links grid__item large--six-twelfths medium--one-whole large--text-right medium--text-center small--text-center">
            {% comment %}
              Show number of items in the cart and total cost in the /cart link

              Ajax Cart Notes:
                - #cartCount updates the total number of items in the cart
                - #cartCost updates the total cost of the cart
                - Documentation:  http://shopify.com/timber#ajax-cart
            {% endcomment %}
            {% if shop.customer_accounts_enabled %}
              <div class="header-link etsy-link">
                <a href="https://www.etsy.com/shop/jdeluce">
                  Etsy Shop
                </a>
              </div>
              <div class="header-link hide">
                {% if customer %}
                  {% if customer.first_name != blank %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                  {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                  | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                {% else %}
                  {{ 'layout.customer.account' | t | customer_login_link }}

                  {% comment %}
                  {% if shop.customer_accounts_optional %}
                  | {{ 'layout.customer.create_account' | t | customer_register_link }}
                  {% endif %}
                  {% endcomment %}
                {% endif %}
              </div>
            {% endif %}
            <div class="header-link cart-link hide">
              <a href="/cart" id="cartToggle" class="site-header__cart-toggle" aria-controls="CartDrawer" aria-expanded="false">
                {{ 'layout.cart.title' | t }}
              </a>
            </div>
          </div>
        </div>
        <div class="grid--full grid--table">
          
          <div class="grid__item large--six-twelfths push--large--three-twelfths">
            {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}
            {% if template == 'index' %}
              <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url" class="site-header__logo-link">
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}
          </div>
          
        </div>

      </div>
    </header>

    <div class="top-nav-border"></div>
    <nav class="nav-bar" role="navigation">
      <div class="wrapper">
        <div class="text-center">
          {% comment %}
            List out your main-menu linklist (default)

            More info on linklists:
              - http://docs.shopify.com/themes/liquid-variables/linklists
          {% endcomment %}
          <label for="show-menu" class="large--hide show-menu">Menu</label>
          <input type="checkbox" class="hide" id="show-menu" role="button">
          <ul class="site-nav" id="AccessibleNav">
            {% for link in linklists.main-menu.links %}
              {% comment %}
                Create a dropdown menu by naming a linklist the same as a link in the parent nav

                More info on dropdowns:
                  - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
              {% endcomment %}
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
                <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                  <a href="{{ link.url }}" class="medium-down--hide site-nav__link-main site-nav__link">
                    {{ link.title }}
                    <span class="icon icon-arrow-down visibility-none" aria-hidden="true"></span>
                  </a>
                  <a href="https://www.etsy.com/shop/jdeluce" class="large--hide site-nav__link">
                    {{ link.title }}
                    <span class="icon icon-arrow-down hide" aria-hidden="true"></span>
                  </a>
                  <div class="site-nav__dropdown hide">
                    <ul class="dropdown-shadow grid grid--full">
                      {% for childlink in linklists[child_list_handle].links %}
                        {% cycle '<li class="grid__item one-half dropdown-border"><ul class="grid grid--full">','','','','','', '' %}
                          <li class="grid__item one-whole">
                          <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a></li>
                        {% cycle '','','','', '','', '</ul></li>' %}
                      {% endfor %}
                      </ul></li>
                    </ul>
                  </div>
                </li>
              {% else %}
                <li {% if link.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ link.url }}" class="site-nav__link{% if link.title == 'Search' %} site-nav--search{% endif %}">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <!-- //site-nav -->
        </div>
      </div>
    </nav>
    <div class="bottom-nav-border"></div>

    <main class="wrapper main-content" role="main">

      {{ content_for_layout }}

    </main>
    <div class="bottom-nav-border"></div>
    <!-- begin site-footer -->
    <footer class="site-footer small--text-center" role="contentinfo">
      <div class="wrapper">
        <div class="grid">
          <div class="site-footer-cta grid__item push--large--one-twelfth large--eleven-twelfths">
            <div class="grid">
          {% if settings.footer_newsletter_enable %}
            
              {% comment %}
                MailChimp is the go-to newsletter service for Shopify.
                Use the link below to find your MailChimp form action
                and insert it in your site settings.

                MailChimp newsletter integration and requirement:
                 - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
              {% endcomment %}
              <div class="newsletter-footer grid__item large--nine-twelfths medium--nine-twelfths">
                <div class="newsletter">
                  <h4 class="styled-header newsletter-title left">{{ 'layout.footer.newsletter_title' | t }}</h4>
                  {% if settings.newsletter_form_action != blank %}
                    {% assign form_action = settings.newsletter_form_action %}
                  {% else %}
                    {% assign form_action = '#' %}
                  {% endif %}
                    <form action="{{ form_action }}" id="newsletter-form" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field newsletter-email" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                      <span class="input-group-btn newsletter-btn">
                        <input type="submit" name="subscribe" id="subscribe">
                      </span>
                    </form>
                </div>
              </div>
          {% endif %}
          {% if settings.footer_social_enable %}
              <div class="social-footer grid__item large--three-twelfths medium--three-twelfths">
                <ul class="inline-list social-icons zero-margin-list right">
                  {% if settings.social_facebook_link != blank %}
                    <li id="facebook">
                      <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_twitter_link != blank %}
                    <li id="twitter">
                      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                      </a>
                    </li>
                  {% endif %}  
                  {% if settings.social_instagram_link != blank %}
                    <li id="instagram">
                      <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram">
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
          {% endif %}
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="grid__item text-center">
            <p><span class="co-name">©DeLuce&nbsp;Design</span> all rights reserved<br>
              Artwork is copyright of Jill Deluce and May not be used without permission</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- //site-footer -->
  </div>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if newHash %}
      $(function() {
        timber.updateHash('{{ newHash }}');
      });
    {% endif %}
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

</body>
</html>
