<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
  <div class="grid-uniform">
    <div class="grid__item push--large--one-twelfth large--ten-twelfths">
      <div id="mainslider" class="flexslider">
        <ul class="slides">
          <li><img src="{{ 'slide1.jpg' | asset_url }}" /></li>
          {% if settings.slide-2-check %}
            <li><img src="{{ 'slide2.jpg' | asset_url }}" /></li>
          {% endif %}
          {% if settings.slide-3-check %}
            <li><img src="{{ 'slide3.jpg' | asset_url }}" /></li>
          {% endif %}
          {% if settings.slide-4-check %}
            <li><img src="{{ 'slide4.jpg' | asset_url }}" /></li>
          {% endif %}
          {% if settings.slide-5-check %}
            <li><img src="{{ 'slide5.jpg' | asset_url }}" /></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
<script>
$(document).ready(function() {
  $('#mainslider').flexslider({
     animation: "fade",
     controlNav: false,
     slideshowSpeed: 4000,
     directionNav: false
   });
});
</script>
  <div class="grid__item push--large--one-twelfth large--ten-twelfths">
    <div class="grid">
      <div class="insta-title grid__item large--one-half medium--ten-twelfths small--one-whole">
        <h5 class="styled-header left brush-underline zero-padding"><span>Follow My Journey On Instagram</span></h5>
      </div>
      <div class="grid__item insta-handle-outer large--one-half medium--two-twelfths small--one-whole">
        <div class="insta-handle right">©DeLuce&nbsp;Design</div>
      </div>
    </div>
  </div>
  <div class="grid__item push--large--one-twelfth large--ten-twelfths">    
      <div id="instafeed" class="grid-uniform"></div>
      {{ 'instafeed-grid.js' | asset_url | script_tag }}
  </div>
</div>